.hero{
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title{
font-family: "Roboto", sans-serif;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
color: #ffffff;
letter-spacing: 0.02em;
max-width: 216px;
margin: 0 auto;
}
.hero-button{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.64px;
color: #ffffff;
background-color: #4D5AE5;
cursor: pointer;
display: block;
margin: 72px auto 0;
padding: 16px 32px;
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}
.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* media setting */
@media screen and (min-resolution: 192dpi){
    .hero{
     background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-mobile@2x.jpg");
    }
}
@media screen and (min-width: 768px){
    .hero{
        padding: 112px 0;
        background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-tablet.jpg");
    }
    .hero-title{
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;
    }
    .hero-button{
        margin-top: 36px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi){
    .hero{
      background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-tablet@2x.jpg");
    
    }
}
@media screen and (min-width: 1158px){
    .hero{
        padding: 188px 0;
        background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
    }
    .hero-title{
        font-size: 56px;
        max-width: 496px;
    }
    .hero-button{
        margin-top: 48px
    }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi){
    .hero{
         background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg@2x.jpg");
    
    }
}